*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    
}

/* header */

#TopHeader{
    background-color: black;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
#TopHeader a h1,h2{
    color: white;
}
#TopHeader a:hover *{
    color: rgb(180, 200, 255);
    
}

/* Heading think */
#Overview{
    text-align: center;
    background-color: rgb(195, 195, 195);
    height: 80px;
}

/* navigation aria */
* #TopicList ul li{
    margin: 8px;
    background-color: rgb(195, 195, 195);
    border: 2px solid black;
    text-align: center;
    height:40px;
    
}
* #TopicList ul li a{
    color: black;
}
* #TopicList ul li:hover{
    margin: 8px;
    background-color: rgb(180, 200, 255);
    border: 5px solid black;
    text-align: center;
    height:45px;
    
}